@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');


.title-header{
    text-align: center;
    font-family: 'Pattaya', sans-serif;
    color: whitesmoke;
    box-sizing: border-box;

}

.content-displayer{
    color: whitesmoke;
    display: flex;
    flex-flow: column wrap;
}

.content-displayer h3{
    margin-left: 25px;
}

.content-li{
    font-size: 120%;
}

body{
    background-image: url("/static/pics/nlp.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1166px;
}

.models{
    position: absolute;
    right: 0;
    top: 130px;
    color: whitesmoke;
    margin-right: 20px;
}