@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');


.title-header{
    text-align: center;
    font-family: 'Pattaya', sans-serif;
    color: whitesmoke;
    box-sizing: border-box;

}

body{
    background-image: url("/static/pics/nlp.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1166px;
}

.models{
    margin-left: 20px;
    color: whitesmoke;
}