
* {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', cursive;
}

.navbar {
    background-color: #233650 !important;
}

#navbarNavDropdown > ul > li> a{
    color: lightskyblue;
    font-size: 150%;
    margin-left: 10px;
}

#navbarNavDropdown > ul > li> a:hover{
    cursor: pointer;
    opacity: 0.9;
}