html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #252169;
}

.main-container {
    display: flex;
    flex-flow: row wrap;
    background-color: #03295F;

}

.content {
    width: 50%;
    padding: 30px;
}

.content-data, .content-data-txt {
    max-width: 100%;
    color: white;
    word-wrap: break-word;
    font-size: 150%;
}

@media only screen and (max-width: 900px) {
    .main-container {
        display: flex;
        flex-flow: column wrap;
    }

    .content {
        width: 100%;
    }

    .content-data, .content-data-txt {
        max-width: 100%;
        word-wrap: break-word
    }
}

h1, h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 200%;
    background-color: #03295F;
    margin-top: 10px;
    padding: 0;
}


.refresh-btn {
    margin-top: 10px;
    margin-left: 47%;
    background-color: #FF7A79;
    color: whitesmoke;
    padding: 15px;
    font-size: 110%;
    border: none;
    border-radius: 30px;

}

.refresh-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.subnav {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.subnav-item {
    padding: 10px;
    list-style: none;
    font-size: 150%;

}

.categories-link {
    color: #FF7A79;

}