{% extends 'shared/base.html' %}
{% block title %}
    HackerNews
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news_topics_labels.css') }}">
{% endblock %}

{% block content %}

    <ul class="subnav">
        <li class="subnav-item">
            <a class="categories-link" href="#">AI/Data Science</a>
        </li>

        <li class="subnav-item">
            <a class="categories-link" href="#">web/mobile</a>
        </li>

        <li class="subnav-item">
            <a class="categories-link" href="#">devops/OS</a>
        </li>


        <li class="subnav-item">
            <a class="categories-link" href="#">finance</a>
        </li>

        <li class="subnav-item">
            <a class="categories-link" href="#">job/career</a>
        </li>

        <li class="subnav-item">
            <a class="categories-link" href="#">general</a>
        </li>

    </ul>

    <h1>Read the Latest from HackerNews labeled in categories by AI</h1>


    <section class="main-container">

    </section>

    <script src="{{ url_for('static', filename='js/api_connector.js') }}"></script>

{% endblock %}