{% extends 'shared/base.html' %}
{% block title %}
NLP World
{% endblock %}


{% block content %}

    <h1 class="title-header">NLP World</h1>

    <section class="content-displayer">
    <h3>Content:</h3>
    <ul class="content">
        <li class="content-li">HackerNews labeled by AI</li>
        <li class="content-li">HackerNews Summary Dashboard</li>
        <li class="content-li">Twitter</li>
    </ul>
    </section>


    <section class="models">
    <h3>Models:</h3>
    <ul class="content">
        <li class="content-li"><a href="https://github.com/ivvlko/Nlp_World/blob/main/model_creation/training_models/retrain_naive_bayes.ipynb" target="_blank">Naive Bayes HNNews Label classifier</a> </li>
    </ul>
    </section>

{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
