body {
    background-color: black;
    font-family: 'Helvetica Neue', cursive;
    color: skyblue;
    max-width: 1400px;
    margin: 0 auto;
}

#heading{
    margin-bottom: 150px;
    text-align: center;
}

a{
        font-size: 200%;
}

#range-label{
    margin-right: 10px;
}

#dropdown_words{
    color: black;
}

#wordscloud_container{
    margin-top: -37px;
}