body {
    background-color: black;
    font-family: 'Helvetica Neue', cursive;
    color: skyblue;
    max-width: 1200px;
    margin: 0 auto;
}

.time_series_accuracy_container, .row, #heading{
max-width: 100%;
}

#dropdown_words{

    color: black;
}

a{
        font-size: 200%;
}


#react-entry-point > div > div:nth-child(2){
margin-top: 50px;
}

.col-6{
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {

  .col-6{
  flex: 0 0 100%;
  max-width: 100%;

  }
}
